@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*--SYSTEM VARIABLES--*/
// Color
$primary-violet: #5964e0;
$primary-light-violet: #939BF4;
$primary-very-dark-blue: #19202D;
$primary-midnight: #121721;
$secondary-white: #FFFFFF;
$secondary-light-grey: #F4F6F8;
$secondary-gray: #e9f0f8;
$secondary-dark-grey: #6E8098;
// Fonts
$size-h1: 1.75rem; // 28px
$size-h2: 1.5rem; // 24px
$size-h3: 1.25rem; // 20px
$size-h4: 0.875rem; // 14px
$size-main: 1rem; // 16px
$font-family: 'Kumbh Sans', sans-serif;
$weight-normal: 400;
$weight-bold: 700;


/*--DARK MODE VARIABLES--*/
:root 
{
    --color-background: #{$secondary-light-grey};
    --color-text: #{$primary-very-dark-blue};
    --color-placeholder: #{rgba($color: $primary-very-dark-blue, $alpha: 0.5)};
    --color-component-background: #{$secondary-white};
    --btn-background-1: #{$primary-violet};
    --btn-background-hover-1: #{$primary-light-violet};
    --btn-text-1: #{$secondary-white};
    --btn-background-2: #{rgba($color: $primary-violet, $alpha: 0.1)};
    --btn-background-hover-2: #{rgba($color: $primary-violet, $alpha: 0.25)};
    --btn-text-2: #{$primary-violet};
    --checkbox-background: #{rgba($color: $primary-midnight, $alpha: 0.1)};
}
.dark 
{
    --color-background: #{$primary-midnight};
    --color-text: #{$secondary-white};
    --color-placeholder: #{rgba($color: $secondary-white, $alpha: 0.5)};
    --color-component-background: #{$primary-very-dark-blue};
    --btn-background-1: #{rgba($color: $secondary-white, $alpha: 0.1)};
    --btn-background-hover-1: #{rgba($color: $secondary-white, $alpha: 0.35)};
    --btn-text-1: #{$secondary-white};
    --btn-background-2: #{rgba($color: $secondary-white, $alpha: 0.1)};
    --btn-background-hover-2: #{rgba($color: $secondary-white, $alpha: 0.35)};
    --btn-text-2: #{$secondary-white};
    --checkbox-background: #{rgba($color: $secondary-white, $alpha: 0.1)};
}
*
{
    transition: all .15s ease;
}


/*--RESET--*/
/* Box sizing rules */
*, *::before, *::after
{
    box-sizing: border-box;
}
/* Remove default margin & padding */
html, body, h1, h2, h3, h4, h5, p, ul, li
{
    margin: 0;
    padding: 0;
}
/* Set core root defaults */
html:focus-within 
{
	scroll-behavior: smooth;
}
/* Set core body defaults */
body 
{
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: $font-family;
    font-size: $size-main;
    color: var(--color-text);
}
/* Remove default list style */
li 
{
    list-style: none;
}
a 
{
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;
    font-size: $size-main;
    font-weight: $weight-bold;
}
/* Make images easier to work with */
picture, img
{
    max-width: 100%;
    display: block;
    height: 100%;
}
/* Inherit fonts for inputs and buttons */
input[type=text], button, textarea, select 
{
    font: inherit;
    color: var(--color-text);
    background-color: var(--color-component-background);
    outline: none; // Not really accessible
}
::placeholder
{
    color: var(--color-placeholder);
}
*:focus 
{
  outline: 1px solid $primary-light-violet;
}
/* Make svg clickable */
svg
{
    pointer-events: none; 
}


/*--VISUALLY HIDDEN--*/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

/*--UTILITIES--*/
.lightBtn
{
    background-color: var(--btn-background-1);
    color: var(--btn-text-1);
    font-size: $size-main;
    padding: 1rem 2rem;
    border-radius: 5px;
    &:hover
    {
        background-color: var(--btn-background-hover-1);
    }
}
.lightBtn-2
{
    background-color: var(--btn-background-2);
    color: var(--btn-text-2);
    font-size: $size-main;
    padding: 1rem 2rem;
    border-radius: 5px;
    &:hover
    {
        background-color: var(--btn-background-hover-2);
    }
}
.input
{
    input[type=checkbox]
    {
        display: none;
    }
    input[type=checkbox] + *::before 
    {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 10%;
        margin-right: 1rem;
        background-color: var(--checkbox-background);
        border: none;
    }
    input[type=checkbox]:checked + *::before 
    {
        content: url(../assets/desktop/icon-check.svg);
        color: white;
        text-align: center;
        line-height: 1.5rem;
        background-color:$primary-violet;
        border-color: $primary-violet;
    }
}
.line
{
    height: 1px;
    width: 90vw;
    margin-left: -1.5rem;
    background-color: $secondary-dark-grey;
}


/*--LAYOUT--*/
body
{
    background-color: var(--color-background);
}
.row
{
    display: flex;
    flex-direction: row;
    align-items: center;
}



/*--COMPONENT--*/
.header
{
    position: relative;
    &__background
    {
        picture, img
        {
            width: 100%;
        }
    }
    &__mode
    {
        @extend .row;
        width: 90vw;
        margin: 0 auto;
        position: absolute;
        top: 5vh;
        left: 5vw;
    }
    &__logo
    {
        margin-right: auto;
    }
    &__toggle
    {
        width: 3rem;
        height: 1.5rem;
        background-color: $secondary-white;
        border-radius: 20px;
        margin: 0 1rem;
        cursor: pointer;
        position: relative;
        &::after
        {
            content: '';
            background-color: $primary-violet;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            position: absolute;
            top: 4px;
            left: 4px;  //28px
            cursor: pointer;
            transition: left 0.25s ease;
        }
        &:hover::after
        {
            background-color: $primary-light-violet;
        }
    }
    &__toggle.active::after
    {
        left: 28px;
    }


    // Autocomplete box
    &__autocom
    {
        &-title, &-modal
        {
            position: absolute;
            top: 80px;
            left: 0;
            background-color: var(--color-component-background);
            opacity: 0;
            pointer-events: none;
            max-height: 21.75rem;
            width: 90vw;
            li
            {
                padding: 1rem 0 1rem 2rem;
                display: none;
                &:hover{
                    background: var(--checkbox-background);
                }
            }
        }
    }

    //Search Bar
    &__searchbar
    {
        @extend .row;
        width: 90vw;
        margin: 0 auto;
        padding-right: 1rem;
        background-color: var(--color-component-background);
        border-radius: 10px;
        transform: translateY(-50%);
        position: relative;
        z-index: 3;
        input
        {
            border: none;
            padding: 2rem 0 2rem 2rem;
            border-radius: 10px;
            cursor: pointer;
        }
        label
        {
            @extend .row;
        }
        label[for=title] > img, .header__hidden
        {
            display: none;
        }
        label[for=title]
        {
            margin-right: auto;
        }
        a
        {
            width: 3rem;
            padding: 0.75rem;
        }
        #search
        {
            background-color: $primary-violet;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .modal.active path
        {
            fill: $secondary-white;
        }

        &.open
        {
            border-radius: 10px 10px 0 0;
            .header__autocom-title, .header__autocom-modal
            {
                opacity: 1;
                pointer-events: auto;
                overflow: hidden;
                li
                {
                    display: block;
                }
            }
        }

    }
    


    // Modal pop up
    &__modal
    {
        background-color: rgba($color: $primary-midnight, $alpha: 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s opacity 0.5s;
        &-active
        {
            visibility: visible;
            opacity: 1;
        }

        &-content
        {
            background-color: var(--color-component-background);
            width: 90%;
            padding: 1.5rem;
            border-radius: 10px;
            position: relative;
            label
            {
                @extend .row;
            }
            label[for=level]
            {
                padding: 0 0 1.5rem;
                input
                {
                    margin-left: 1rem;
                    border: none;
                }
            }
            label[for=type]
            {
                @extend .input;
                margin: 1.5rem 0;
                font-size: $size-main;
                font-weight: $weight-bold;
            }
            a
            {
                display: block;
                text-align: center;
            }
        }

        &.open
        {
            .header__autocom-modal
            {
                opacity: 1;
                pointer-events: auto;
                overflow: hidden;
                li
                {
                    display: block;
                }
            }
        }
    }

}



.job
{
    width: 90vw;
    text-align: center; 
    margin: 2rem auto 5rem;
    z-index: 0;
    position: relative;
    &__card
    {
        background-color: var(--color-component-background);
        padding: 2rem;
        position: relative;
        border-radius: 10px;
        margin-bottom: 3rem;
        text-align: left;
        min-height: 250px;
        cursor: pointer;
        * + *
        {
            margin-bottom: 1rem;
        }
    }
    &__logo
    {
        max-width: 50px;
        max-height: 50px;
        position: absolute;
        top: -25px;
        left: 2rem;
        border-radius: 15px;
    }
    &__type
    {
        color: $secondary-dark-grey;
        font-size: $size-main;
        font-weight: $weight-normal;
    }
    &__createTime
    {
        font-size: $size-main;
        font-weight: $weight-normal;
        span:nth-of-type(2)
        {
            font-size: 2rem;
            color: $secondary-dark-grey;
        }
        span:nth-of-type(3)
        {
            text-transform: capitalize;
        }
    }
    &__title
    {
        font-size: $size-h3;
        font-weight: $weight-bold;
        color: var(--color-text);
        &:hover
        {
            color: $secondary-dark-grey;
        }
    }
    &__location
    {
        font-size: $size-h4;
        font-weight: $weight-bold;
        color: $primary-violet;
        margin-top: 2rem;
    }
}

.loadmore
{
    @extend .row;
    justify-content: center;
    margin-bottom: 5rem;
}


// Detail page
.detail
{
    width: 90vw;
    margin: 0 auto 7.5rem;
    &__company
    {
        background-color: var(--color-component-background);
        text-align: center;
        padding: 3rem 1rem 2.5rem;
        position: relative;
        border-radius: 10px;
        transform: translateY(-1rem);
        img
        {
            max-width: 50px;
            max-height: 50px;
            margin: 0 auto;
            border-radius: 15px;
            position: absolute;
            left: calc(50% - 25px);
            top: -25px;
        }
        h3
        {
            font-size: $size-h3;
            font-weight: $weight-bold;
        }
        p
        {
            font-size: $size-main;
            margin-top: 1rem;
            color: $secondary-dark-grey;
        }
        a
        {
            display: inline-block;
            margin-top: 2rem;
        }
    }

    &__info
    {
        background-color: var(--color-component-background);
        border-radius: 10px;
        padding: 2rem 1rem;
        margin-top: 1rem;
        a
        {
            display: block;
            text-align: center;
            margin: 2rem 0;
        }
        .job__title, .job__location
        {
            margin-top: 0.5rem;
        }
    }

    &__description
    {
        p, li
        {
            font-size: $size-main;
            color: $secondary-dark-grey;
            line-height: 26px;
        }
        p
        {
            margin: 1rem 0;
        }
        li
        {
            list-style-type: disc;
            list-style-position: inside;
            &::marker
            {
                color: $primary-violet;
            }
            margin: 0.5rem 0;
        }
        strong
        {
            color: var(--color-text);
        }
        a
        {
            display: inline;
            color: $primary-violet;
            text-decoration: underline;
            font-weight: $weight-normal;
        }
    }

    &__apply
    {
        color: $secondary-white;
        background-color: $primary-violet;
        border-radius: 10px;
        padding: 2rem 1rem;
        margin: 2rem 0;
        line-height: 26px;
        h3
        {
            font-size: $size-h3;
            font-weight: $weight-bold;
            margin: 1rem 0;
        }
        a
        {
            color: $secondary-white;
            text-decoration: underline;
            font-weight: $weight-normal;
            display: block;
            margin: 1rem 0;
        }
    }
}

.footer
{
    padding: 5vw;
    width: 100vw;
    background-color: var(--color-component-background);
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    a
    {
        display: block;
        text-align: center;
    }
    &__text
    {
        display: none;
    }
}