@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*--VARIABLES--*/
/*--RESET--*/
/* Box sizing rules */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin & padding */
html, body, h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  color: #19202D;
}

/* Remove default list style */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #19202D;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

/* Make images easier to work with */
picture, img {
  max-width: 100%;
  display: block;
  height: 100%;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/*--VISUALLY HIDDEN--*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/*--UTILITIES--*/
.lightBtn {
  background-color: #5964e0;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.lightBtn:hover {
  background-color: #939BF4;
}

.lightBtn-2 {
  background-color: rgba(89, 100, 224, 0.1);
  color: #5964e0;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.lightBtn-2:hover {
  background-color: rgba(89, 100, 224, 0.35);
}

.darkBtn {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1rem;
}

.darkBtn:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

.input input[type=checkbox], .header__modal-content label[for=type] input[type=checkbox] {
  display: none;
}

.input input[type=checkbox] + *::before, .header__modal-content label[for=type] input[type=checkbox] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 10%;
  margin-right: 1rem;
  background: rgba(18, 23, 33, 0.1);
  border: none;
}

.input input[type=checkbox]:checked + *::before, .header__modal-content label[for=type] input[type=checkbox]:checked + *::before {
  content: url(../assets/desktop/icon-check.svg);
  color: white;
  text-align: center;
  line-height: 1.5rem;
  background: #5964e0;
  border-color: #5964e0;
}

.line {
  height: 1px;
  width: 90vw;
  margin-left: -1.5rem;
  background-color: #6E8098;
}

*:focus {
  outline: 1px solid #939BF4;
}

/*--LAYOUT--*/
body {
  background-color: #F4F6F8;
}

.row, .header__mode, .header__searchbar, .header__searchbar label, .header__modal-content label, .loadmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*--COMPONENT--*/
.header {
  position: relative;
}

.header__background picture, .header__background img {
  width: 100%;
}

.header__mode {
  width: 90vw;
  margin: 0 auto;
  position: absolute;
  top: 5vh;
  left: 5vw;
}

.header__logo {
  margin-right: auto;
}

.header__toggle {
  width: 3rem;
  height: 1.5rem;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
}

.header__toggle::after {
  content: '';
  background-color: #5964e0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.header__toggle:hover::after {
  background-color: #939BF4;
}

.header__searchbar {
  width: 90vw;
  margin: 0 auto;
  padding-right: 1rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__searchbar input {
  border: none;
  padding: 2rem 0 2rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.header__searchbar label[for=title] > img, .header__searchbar .header__hidden {
  display: none;
}

.header__searchbar label[for=title] {
  margin-right: auto;
}

.header__searchbar a {
  width: 3rem;
  padding: 0.75rem;
}

.header__searchbar #search {
  background-color: #5964e0;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__modal {
  background-color: rgba(18, 23, 33, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s opacity 0.5s;
  transition: visibility 0s opacity 0.5s;
}

.header__modal-active {
  visibility: visible;
  opacity: 1;
}

.header__modal-content {
  background-color: #FFFFFF;
  width: 90%;
  padding: 1.5rem;
  border-radius: 10px;
}

.header__modal-content label[for=location] {
  padding: 0 0 1.5rem;
}

.header__modal-content label[for=location] input {
  margin-left: 1rem;
  border: none;
}

.header__modal-content label[for=type] {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.header__modal-content a {
  display: block;
  text-align: center;
}

.job {
  width: 90vw;
  text-align: center;
  margin: 2rem auto 5rem;
}

.job__card {
  background-color: #FFFFFF;
  padding: 2rem;
  position: relative;
  border-radius: 10px;
  margin-bottom: 3rem;
  text-align: left;
}

.job__card * + * {
  margin-bottom: 1rem;
}

.job__logo {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  top: -25px;
  left: 2rem;
}

.job__type {
  color: #6E8098;
  font-size: 1rem;
}

.job__createTime span:nth-of-type(2) {
  font-size: 2rem;
  color: #6E8098;
}

.job__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #19202D;
}

.job__title:hover {
  color: #6E8098;
}

.job__location {
  font-size: 0.875rem;
  font-weight: 700;
  color: #5964e0;
  margin-top: 2rem;
}

.loadmore {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.detail {
  width: 90vw;
  margin: 0 auto 7.5rem;
}

.detail__company {
  background-color: #FFFFFF;
  text-align: center;
  padding: 3rem 1rem 2.5rem;
  position: relative;
  border-radius: 10px;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.detail__company img {
  max-width: 50px;
  max-height: 50px;
  margin: 0 auto;
  border-radius: 15px;
  position: absolute;
  left: calc(50% - 25px);
  top: -25px;
}

.detail__company h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.detail__company p {
  font-size: 1rem;
  margin-top: 1rem;
  color: #6E8098;
}

.detail__company a {
  display: inline-block;
  margin-top: 2rem;
}

.detail__info {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 2rem 1rem;
  margin-top: 1rem;
}

.detail__info a {
  display: block;
  text-align: center;
  margin: 2rem 0;
}

.detail__info .job__title, .detail__info .job__location {
  margin-top: 0.5rem;
}

.detail__description p, .detail__description li {
  font-size: 1rem;
  color: #6E8098;
  line-height: 26px;
}

.detail__description p {
  margin: 1rem 0;
}

.detail__description li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0.5rem 0;
}

.detail__description li::marker {
  color: #5964e0;
}

.detail__description strong {
  color: #19202D;
}

.detail__description a {
  display: inline;
  color: #5964e0;
  text-decoration: underline;
  font-weight: 400;
}

.detail__apply {
  color: #FFFFFF;
  background-color: #5964e0;
  border-radius: 10px;
  padding: 2rem 1rem;
  margin: 2rem 0;
  line-height: 26px;
}

.detail__apply h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1rem 0;
}

.detail__apply a {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: 400;
  display: block;
  margin: 1rem 0;
}

.footer {
  padding: 5vw;
  width: 100vw;
  background-color: #FFFFFF;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
}

.footer a {
  display: block;
  text-align: center;
}

.footer__text {
  display: none;
}
/*# sourceMappingURL=style.css.map */