.header
{
    &__mode
    {
        top: 3vh;
        left: calc((100vw - 1110px) / 2);
        max-width: 1110px;
    }
    &__searchbar
    {
        max-width: 1110px;
    }
}
.job
{
    max-width: 1110px;
    grid-template-columns: 1fr 1fr 1fr;
}

.detail
{
    max-width: 730px;
}
.footer
{
    padding: 2rem calc((100vw - 730px) / 2);
}